asgiref==3.4.1
auditlog3==1.0.1
certifi==2021.5.30
charset-normalizer==2.0.6
dj-database-url==0.5.0
Django==3.2.7
django-axes==5.25.0
django-crispy-forms==1.12.0
django-heroku==0.3.1
django-ipware==4.0.0
django-summernote==0.8.11.6
idna==3.2
mysqlclient==2.0.1
Pillow==8.3.2
psycopg2==2.9.1
psycopg2-binary==2.9.1
pytz==2021.1
reportlab==3.6.1
requests==2.26.0
sqlparse==0.4.1
urllib3==1.26.7
whitenoise==5.3.0
